version: "3.9"

networks:
  internal:
    driver: bridge

volumes:
  data:

services:
  mongo:
    image: mongo:latest
    restart: always
    volumes:
      - data
    networks:
      - internal
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    ports:
      - "27017:27017"

  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: example
      ME_CONFIG_MONGODB_URL: mongodb://root:example@mongo:27017/
    depends_on:
      - mongo

  server:
    build: .
    restart: always
    volumes:
      - data
    networks:
      - internal
    environment:
      PORT: 5005
      DB_CONN: mongodb://root:example@mongo:27017
    depends_on:
      - mongo
    ports:
      - "5005:5005"